.axis path,
.line {
    fill: none;
    stroke: red;
    stroke-width: 4px;
}

.axis path {
    stroke: black;
    stroke-width: 2px;
}

#pulse {
	font-size: 10em;
}

.x.axis line {
  shape-rendering: auto;
}