.axis path,
.line {
    fill: none;
    stroke: red;
    stroke-width: 4px;
}

.axis path {
    stroke: black;
    stroke-width: 2px;
}

.pulse {
	width: 20%;
	font-size: 6em;
	vertical-align: middle !important;
}

.name {
	vertical-align: middle !important;
	font-size: 3em;
}

.x.axis line {
  shape-rendering: auto;
}